/* Font change  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    font-family: 'Poppins', sans-serif;
}

.brightness{
    filter: brightness(50%);
}

@media only screen and (max-width:576px){
    .imageresize {
        height: 600px;
    }
}